
@{
    ViewBag.Title = "BackCamera";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<button class="btn btn-default" onclick="window.location.href='@Url.Action("SetUpVideo", "DrivingTest" )';">Ready for back video</button>

