
@{
    ViewBag.Title = "RegistrationConfirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Registration Confirmation</h2>

@*<input type="button" class="btn btn-primary" value="Post Job" onclick="window.location.href='@Url.Action("CandidateExamBookingDetails", "CandidateDetails")';" />*@