
@{
    ViewBag.Title = "DonateUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Donate Us</h3>

Currently we accept online payments only. <br /><br />
Our sort code is 77-30-05<br /><br />
Account number is 888 236 68<br /><br />
Account Name is T Augustine<br /><br />
Bank Name - Llyods TSB<br /><br />

Please use your internent banking facility to donate to us